@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");
.body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    width: 100%;
    font-family: "Roboto";
}
.logo {
    padding-left: 20px;
    flex: 1;
}
.nav-main {
    display: flex;
    background: rgba(0, 0, 0, 0.69);
    position: absolute;
    align-items: center;
    top: 20px;
    height: 68px;
    z-index: 1;
    justify-content: space-around;
    width: 100%;
}
.nav-text {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-flex;
}

.nav-text a {
    margin-right: 24px;
    display: block;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
}
.navdiv {
    display: flex;
    justify-content: space-between;
}

.hero {
    background-image: url(../images/bkg_1.png);
    height: 868px;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

h1 {
    font-size: 51px;
    font-weight: bold;
    margin-bottom: 0px;
}
h2 {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 0px;
}
h3 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 0px;
}
h4 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0px;
}
.why-us {
    background-color: #383838;
}
.bkgcolor {
    background-color: #ff7630;
}
.textorange {
    color: #ff7630;
}

.flexcol {
    display: flex;
    flex-direction: column;
}
.flexrow {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-around;
}
.imagesrow {
    display: block;
}
#security > div {
    flex: 1;
    align-self: center;
}
.center {
    align-items: center;
    text-align: center;
}
.space-evently {
    justify-content: space-evently;
}
.roboto {
    font-family: "Roboto";
    font-style: normal;
}
.color-white {
    color: #ffffff;
}

.margin-left5 {
    margin-left: 5%;
}
.margin-left10 {
    margin-left: 10%;
}
.margin-right5 {
    margin-right: 5%;
}
.margin-right10 {
    margin-right: 10%;
}
.margin-right26 {
    margin-right: 26px;
}
.margin-top0 {
    margin-top: 0px;
}
.margin-top10 {
    margin-top: 10%;
}
.margin-top20 {
    margin-top: 20%;
}
.margin-top55 {
    margin-top: 55%;
}
.margin-top70 {
    margin-top: 70px;
}
.margin-top-auto {
    margin-top: auto;
}
.margin-bottom-10 {
    margin-bottom: -10px;
}
.margin-bottom0 {
    margin-bottom: 0px;
}
.margin-bottom5 {
    margin-bottom: 5%;
}
.margin-bottom10 {
    margin-bottom: 10%;
}
.margin-bottom30 {
    margin-bottom: 30%;
}
.margin-bottom-auto {
    margin-bottom: auto;
}

.catalog {
    text-align: center;
}
.submit {
    font-size: 18px;
    font-weight: bold;
}
.text-left {
    text-align: left;
}
.container {
    display: flex;
    flex-direction: ;
}
.footer {
    justify-content: space-between;
}
.width100 {
    width: 100%;
}

button:hover {
    background-color: #292929;
}

.box {
    height: 52px;
    width: 498px;
}
.halfbox {
    height: 52px;
    width: 236px;
}
